<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/gerj-ergon-tools"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="techne.cronos.datamanager.DataManager"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-op createdb,createusers,loadapp&#10;-t defaults&#10;-c techne.archon.security.ArchonConnection&#10;-url jdbc:oracle:thin:@${string_prompt:Servidor:erg604des}:${string_prompt:Servidor:1521}:${string_prompt:Servidor:ergon}&#10;-u cronos&#10;-p cronos&#10;-packages techne.cronos,techne.archon.hades,techne.archon.ergon,gerj.archon.ergon,gerj.archon.hades"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="gerj-ergon-tools"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.naming.factory.initial=techne.context.TechneContextFactory"/>
</launchConfiguration>
