<?xml version="1.0" encoding="UTF-8"?>

<!-- metadata-complete="false" força o container a buscar por annotations e web-fragments nos Jars da aplicação -->

<web-app
  metadata-complete="false"
  id="Ergon"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">

  <display-name>Ergon</display-name>
  
</web-app>